body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;

    background-color: #f2f2f2;
}

.page {
    width: 1200px;
    margin: 0 auto;
    padding: 0;

    background-color: #ffffff;
    box-shadow: 0 0 30px 10px #dbdbdb;
    position: relative;
}

.site-navigation a,
.search a,
.main-footer a,
.hotel a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.container {
    width: 1056px;
    margin: 0 auto;
}

/* Header */
.main-menu {
    padding: 15px 0;

    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000; 
    
    background-color: #ffffff;
}

.main-menu ul {
    margin: 0;
    padding: 0;
}

.site-navigation {
    list-style: none;

    display: flex;
    justify-content: space-between;
}

.site-navigation li:first-child,
.site-navigation li:nth-child(2) {
    width: 239px;
    text-align: left;
}

.site-navigation li:nth-child(2) {
    margin-right: 170px;
}

.site-navigation li:nth-child(3),
.site-navigation li:last-child {
    width: 239px;
    text-align: right;
}

.site-navigation a {
      color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-menu-logo {
    position: absolute;
    top: 0;
    right: 45%;
}

.button {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: #ffffff;
}

.button-brown {
    background-color: #766357;
}

.button-blue {
    background-color: #81b3d2;
}

a.active, 
a.active:hover {
    color: #766357;
}

/* Main */
.first-screen {
    height: 507px;

    text-align: center;
    
    background-color: #2f4c60;
    background-image: 
        url("../img/intro-mask.svg"), 
        url("../img/bg.jpg");
    background-position: 
        0 450px,
        0 -56px;
    background-repeat: no-repeat;  
}

.first-screen img {
    padding-top: 76px;
    padding-bottom: 288px;
}

.reasons-caption {
    width: 1200px;
    min-height: 155px;
    padding-top: 61px;
    text-align: center;
}

.reasons b {
    font-size: 21px;
    line-height: 26px;
}

.reasons-item h3 {
    font-size: 21px;
    line-height: 21px;
}

.reasons-block {
    display: flex;
}

.reasons-item {
    width: 280px;
    min-height: 146px;
    padding: 46px 60px 41px;

    text-align: center;
}

.reasons-item-blue {
    color: #ffffff;

    background-color: #81b3d2;
}

.promo {
    width: 1200px;
    min-height: 240px;

    text-align: center;
    display: flex;
}

.promo-item {
    padding: 165px 73px 57px;
}

.promo-item-rent {
    background-image: url("../img/icon-1.svg");
    background-position: 50% 60px;
    background-repeat: no-repeat;
}

.promo-item-food {
    background-image: url("../img/icon-2.svg");
    background-position: 50% 60px;
    background-repeat: no-repeat;
}

.promo-item-souvenirs {
    background-image: url("../img/icon-3.svg");
    background-position: 50% 60px;
    background-repeat: no-repeat;
}

.reasons-block-grey {
    width: 1200px;
    min-height: 256px;

    display: flex;
}

.reasons-item-grey {
    color: #000000;

    background-color: #eeeeee;
}

.advantages-img {
    min-height: 256px;
   
    background-color: #81b3d2;
    background-image: url("../img/town.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;

    flex-grow: 1;
}

.attractions-img {
    width: 800px;
    min-height: 256px;
   
    background-color: #81b3d2;
    background-image: url("../img/bridge.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.search {
    width: 1200px;
    min-height: 230px;
    padding-top: 60px;

    text-align: center;
}

.search b {    
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}

.search p {
    width: 434px;
    padding: 0 383px;

    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    color: #333333;
}

.button-field {
    padding-top: 55px;
}

.search-button {
    width: 568px;
    padding: 30px 0;

    font-size: 21px;
    line-height: 26px;
    text-align: center;
    vertical-align: middle;
}

.search-button:hover,
.search-button:focus {
    background-color: #604e43;
}

.search-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.search-form {
    display: none;
}

.map iframe{
    width: 100%;
    text-align: center;
}

/*main catalog*/
.filter {
    width: 1200px;
    min-height: 220px;
    color: #ffffff;

    background-image: url("../img/filter-bg.jpg");
    background-position: 0 60%;
    background-repeat: no-repeat;
}

.search-hotel {
    width: 1056px;
    margin: 0 auto;
    padding: 35px 0;
    display: flex;
    align-items: stretch;
}

.legend {
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;  
}

.filter fieldset {
    border: none;
    display: flex;
}

.search-hotel-field-list {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.search-hotel-field {
    width: 255px;
    margin: 0;
    padding: 0;
}

.search-hotel-field:last-child {
    margin-left: 220px;
}

.search-hotel-field ul {
    margin: 0;
    padding: 0;
}

.search-hotel-field-list li {
    list-style: none;
    margin: 0;
    padding-top: 30px;
}

.result {
    width: 1200px;
    min-height: 60px;
    
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.result-caption {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    margin-right: 50px;

    display: inline-block;
}

.result p {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;

    display: inline-block;
}

.result a {
    margin-left: 35px;

    text-decoration-style: dashed;
    color: rgba(0, 0, 0, 0.3);
}

.result .active {
    color: #81b3d2;
    text-decoration: none;
}

.result a:hover,
.result a:focus {
    color: #81b3d2;
}

.result a:active {
    color: #000000;
}

.hotel {
    padding: 30px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.hotel-content {
    display: flex;
    justify-content: space-between;
}

.hotel-photo {
    margin-right: 30px;
}

.hotel-item {
    width: 258px;
    min-height: 90px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hotel-type {
    width: 110px;
    flex-wrap: wrap;
}

.hotel-order {
    width: 142px;
    flex-wrap: wrap;
}

.hotel-rating {
    flex-grow: 1;
    text-align: right;
}

.stars {
    display: inline-block;
    width: 18px;
    min-height: 17px;
    
    background-image: url("../img/star.svg");
}

.rating {
    display: inline-block;
    width: 110px;
    min-height: 27px;

    color: #666666;
    background-color: #f2f2f2;
    text-align: center;
}

.hotel-item h3 {
    margin: 0;
    padding: 0;

    font-size: 21px;
    font-weight: 700;
    line-height: 26px;  

    flex-grow: 1;
}

a.hotel-name {
    color: #000000;
}

.hotel-button {
    min-height: 23px;
    padding-top: 4px;
    margin-top: 8px;

    text-align: center; 
}

.hotel-type-button {
    width: 110px;
}

.hotel-order-button {
    width: 142px;
}

.hotel-name:hover,
.hotel-name:focus {
    color: #81b3d2;
}

.hotel-name:active {
    color: rgba(0, 0, 0, 0.3);
}

.hotel-type-button:hover,
.hotel-type-button:focus {
    background-color: #669ec0;
}

.hotel-type-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.hotel-order-button:hover,
.hotel-order-button:focus {
    background-color: #604e43;
}

.hotel-order-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

/* Footer*/
.main-footer {
    width: 1200px;
    min-height: 120px;

    background-color: #f9fbf6;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contacts {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.contacts span {
    display: block;
}

.contacts a {
    color: #000000;
}

.social {
    width: 152px;
    margin: 0;
    padding: 0;

    list-style: none;

    display: flex;
    justify-content: space-between;
}

.social-icons-twitter svg {
    padding-top: 17px;
}

.social-icons-facebook svg {
    padding-top: 13px;
}

.social-icons-youtube svg {
    padding-top: 16px;
}

.social-icons a {
    width: 46px;
    min-height: 48px;

    text-align: center;

    background-color: #81b3d2; 

    display: inline-block;
    vertical-align: middle;
}

.social-icons a:hover,
.social-icons a:focus {
    background-color: #669ec0;
}

.social-icons a:active {
    background-color: #5496bd;
}

.developer {
    width: 195px;
    min-height: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}









