body {
    width: 1200px;
    margin: 0;
    padding: 0;

    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;

    background-color: #ffffff;
}

.site-navigation a,
.search a,
.main-footer a,
.hotel a {
    text-decoration: none;
}

a.activated {
    color: #766357;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

/* Header */
.main-menu {
    font-weight: 700;
    color: #000000; 
    
    background-color: #ffffff;
}

.site-navigation {
      list-style: none;
}

.site-navigation a {
      color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.button {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: #ffffff;
}

a.button-brown {
    background-color: #766357;
}

a.button-blue {
    background-color: #81b3d2;
}


/* Main */
.first-screen {
    text-align: center;

    height: 507px;
    
    background-color: #244f37;
    background-image: 
        url("../img/intro-mask.svg"), 
        url("../img/bg.jpg");
    background-position: 
        0 450px,
        0 -56px;
    background-repeat: no-repeat;    
}

.first-screen img {
    padding-top: 76px;
    padding-bottom: 288px;

}

.reasons {
    text-align: center;
}

.reasons b {
    font-size: 21px;
    line-height: 26px;
}

.reasons-item h3 {
    font-size: 21px;
    line-height: 21px;
}

.reasons-item-blue {
    color: #ffffff;
    background-color: #81b3d2;
}

.reasons-item-grey {
    color: #000000;
    background-color: #eeeeee;
}

.advantages-img {
    width: 800px;
    min-height: 256px;
   
    background-color: #81b3d2;
    background-image: url("../img/town.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.attractions-img {
    width: 800px;
    min-height: 256px;
   
    background-color: #81b3d2;
    background-image: url("../img/bridge.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.search {
    text-align: center;
}

.search b {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}

.search-button {
    display: inline-block;
    width: 568px;
    min-height: 86px;

    font-size: 21px;
    line-height: 26px;
    text-align: center;
    vertical-align: middle;  
}

.search a.button:hover,
.search a.button:focus {
    background-color: #604e43;
}

.search a.button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.search-form {
    display: none;
}

.map iframe{
    width: 100%;
    text-align: center;
}

.filter fieldset {
    border: none;
}

.hotel-item h3 {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;  
}

a.hotel-name {
    color: #000000;
}

.hotel-button {
    display: inline-block;
    text-align: center; 
    vertical-align: middle;
}

.hotel-type-button {
    width: 110px;
    min-height: 27px;
}

.hotel-order-button {
    width: 142px;
    min-height: 27px;
}

.hotel-rating .stars {
    display: inline-block;
    width: 18px;
    min-height: 17px;
    
    background-image: url("../img/star.svg");
}

.hotel-rating .rating {
    display: inline-block;
    width: 110px;
    min-height: 27px;

    color: #666666;
    background-color: #f2f2f2;
    text-align: center;
}

.hotel-name:hover,
.hotel-name:focus {
    color: #81b3d2;
}

.hotel-item .hotel-name:active {
    color: rgba(0, 0, 0, 0.3);
}

.hotel-type .button:hover,
.hotel-type .button:focus {
    background-color: #669ec0;
}

.hotel-type .button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.hotel-order .button:hover,
.hotel-order .button:focus {
    background-color: #604e43;
}

.hotel-order .button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}


/* Footer*/
.main-footer {
    background-color: #f9fbf6;
}

.contacts {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.contacts span {
    display: block;
}

.contacts a {
    color: #000000;
}

.social {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-icons a {
    display: inline-block;
    width: 46px;
    min-height: 48px;
    background-color: #81b3d2;
    text-align: center;  
    vertical-align: middle;
}

.social-icons a:hover,
.social-icons a:focus {
    background-color: #669ec0;
}

.social-icons a:active {
    background-color: #5496bd;
}






